.chocolate_section .heading_container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 25px;
    padding-top: 75px;
  }
  .chocolate_section .chocolate_container {
    padding-bottom: 75px;
    display:-webkit-box;
    -webkit-box-pack: center;
  }
  .chocolate_section .box {
    text-align: center;
    margin: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    border: 1px solid #6c6c6c;
    padding-top: 25px;
    width: 350px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .chocolate_section .box .img-box {
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .chocolate_section .box .img-box img {
    width: 100%;
    height: auto;
  }
  
  .chocolate_section .box .detail-box {
    width: 92%;
    background-color: #46200b;
    color: #ffffff;
    padding: 15px;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .chocolate_section .box .detail-box h6 {
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .chocolate_section .box .detail-box h6 span {
    color: #cb4e08;
  }
  
  .chocolate_section .box .detail-box h5 {
    font-weight: 600;
  }
  
  .chocolate_section .box .detail-box a {
    color: #ffffff;
    font-size: 14px;
  }
  
  .chocolate_section .box:hover {
    border-color: transparent;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  }
  
  .chocolate_section .box:hover .detail-box {
    visibility: visible;
    opacity: 1;
  }
.chocolate_container
{
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}
.ifa-envelopemargin,.ifa-phonemargin,.ifa-map-markermargin{
  color: #FFFFFF;
  padding-right: 10px;
  padding-top: 3px;
}